.formContainer {
  display: flex;
  flex-direction: column;
}

.wrapperForEmailAndTel {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1025px) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
}

.appButtonWrapper {
  margin-top: 32px;
  width: 100%;

  @media screen and (min-width: 1025px) {
    margin-top: 40px;
  }
}
