.photoBlock {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    &:first-child {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
