.buttonContainer {
    width: inherit;
    padding: 12px 25.5px;
    background-color: var(--var-btn-primary);
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-family: Futura PT, Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: normal;
    outline: none;
    border: none;

    &:hover {
        background-color: var(--var-btn-hover);
    }

    @media screen and (min-width: 768px) {
        padding: 12px 32px;
    }
}