:root {
    --var-btn-primary: #EC3F3F;
    --var-btn-secondary: rgba(236, 63, 63, 0.1);
    --var-btn-hover: #FF1E1E;

    --var-input-primary: rgba(255, 255, 255, 0.1);
    --var-input-danger: rgba(236, 63, 63, 0.2);

    --var-bg-black: #181818;

}