:root {
    --var-btn-primary: #EC3F3F;
    --var-btn-secondary: rgba(236, 63, 63, 0.1);
    --var-btn-hover: #FF1E1E;

    --var-input-primary: rgba(255, 255, 255, 0.1);
    --var-input-danger: #422020;

    --var-bg-black: #181818;
    --var-bg-input: #2F2F2F;
    --var-bg-gray: #181818;

    --var-color-warning: #FF5858


}