.swiperProgress {
    width: 100%;
    margin-top: 16px;
    height: 2px;

    background-color: gray;
    
    &::-webkit-progress-bar {
        background-color: gray;
    }

    &::-webkit-progress-value {
        // transition: width .2s ease-in-out;
        background-color: var(--var-btn-primary);
    }

    @media screen and (min-width: 768px) {
        margin-top: 24px;
    }
}