.requestFormSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.requestForm {
  display: flex;
  flex-direction: column;

  
}

.heading {
  color: white;
  font-family: Futura PT, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 40px;
  }

  @media screen and (min-width: 1025px) {
    font-size: 56px;
    line-height: 56px;
  }
}

.wrapperBlockContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 53px;
  }

  @media screen and (min-width: 1025px) {
    column-gap: 126px;
  }
}

.leftBlockContainer {
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 36px;
  }
}

.selectWrapper {
  
}

.inputTextName {
  margin-top: 24px;
}

.inputTextEmail {
  margin-top: 24px;
}

.wrapperFroEmailAndTel {
  display: flex;
  flex-direction: column;
}

.inputTel {
  margin-top: 24px;
}

.inputTextArea {
  margin-top: 24px;
}

.inputAttachFile {
  margin-top: 24px;
  position: relative;
}

.inputCheckboxBlock {
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.appButtonWrapper {
  margin-top: 32px;
  width: 100%;

  @media screen and (min-width: 1025px) {
    margin-top: 40px;
  }
}

.rightBlockContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 36px;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
}

.topText {
  font-family: Futura PT Demi, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  opacity: 0.6;
}

.bottomTextPhone {
  font-family: Futura PT, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: white;
  margin-top: 4px;
}

.bottomText {
  margin-top: 4px;
  font-family: Futura PT, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: white;
}
